/* Get rid of basic styles */
body {
  margin: 0;
  padding: 0;
}

.component {
  position: relative;
  overflow: hidden;
  min-width: 220px;
}

.chat {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 50px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 12px 0;
  padding: 38px 3%;
  animation: appearance 0.3s ease;
  -webkit-animation: appearance 0.3s ease;
}

.none {
  display: none !important;
}

.section-profile-picture {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40px;
  margin-right: 0.75rem;
}

.profile-picture {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  box-sizing: border-box;
}

.user-profile-picture {
  background-color: #069e78;
  font-size: 11px;
}

.gpt-profile-picture {
  background-color: #9859b2;
  font-size: 11px;
}

.section-message-text {
  width: calc(100%);
  max-width: 653px;
  white-space: pre-wrap;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #353541;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  box-shadow: 0px 0px 50px 50px #353541;
}

.send-message-form {
  width: 94%;
  height: 56px;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  box-sizing: border-box;
  background: #3f414e;
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  overflow: hidden;
}

.send-message-input {
  width: 100%;
  border: none;
  padding: 0px 12px;
  font-size: 18px;
  padding-top: 30px;
  box-sizing: border-box;
  color: #999999;
  background: none;
  resize: none;
  font-family: inherit;
}

.send-message-input:active,
.send-message-input:hover,
.send-message-input:focus {
  outline: 0;
  outline-offset: 0;
}

.send-message-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
  padding: 6px;
  transition: all 0.125s ease;
  -webkit-transition: all 0.125s ease;
  -moz-transition: all 0.125s ease;
  -ms-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.send-message-button:hover {
  background-color: rgb(25, 195, 125);
}

.send-message-button > img:hover {
  fill: #ffffff;
}

.small-message {
  margin-top: 12px;
  color: #999;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-message > a {
  color: #999;
  text-decoration: underline;
}

.small-message > a:hover {
  text-decoration: none;
}

.header {
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.button-bar {
  position: absolute;
  box-sizing: border-box;
  width: 94%;
  max-width: 768px;
  min-height: 42px;
  bottom: 100px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.chat-button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgba(86, 88, 105);
  background-color: rgba(53, 53, 65, 1);
  color: #d9d9e3;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.disappearance {
  animation: disappearance 0.3s ease infinite;
  -webkit-animation: disappearance 0.3s ease infinite;
}

.appearance {
  animation: appearance 0.3s ease infinite;
  -webkit-animation: appearance 0.3s ease infinite;
}

.opacity {
  animation: opacity_animation 0.3s ease infinite normal;
  -webkit-animation: opacity_animation 0.3s ease infinite normal;
}

.opacity-reverse {
  animation: opacity_animation 0.3s ease infinite reverse;
  -webkit-animation: opacity_animation 0.3s ease infinite reverse;
}

.chat-button > img {
  margin-right: 10px;
}

.chat-button:hover {
  background-color: #40414f;
}

.chunk-appearance {
  animation: chunk_appearance 0.12s ease;
  -webkit-animation: chunk_appearance 0.12s ease;
}

.error_box {
  backdrop-filter: blur(5px);
  z-index: 100;
  position: absolute;
  background-color: rgba(239, 68, 68, 0.1);
  border: 1px solid rgb(239, 68, 68);
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  padding: 8px 12px;
  color: rgba(236, 236, 241, 1);
  top: 90px;
  left: 50%;
  transform: translate(-50%, -0);
  -webkit-transform: translate(-50%, -0);
  -moz-transform: translate(-50%, -0);
  -ms-transform: translate(-50%, -0);
  -o-transform: translate(-50%, -0);
  max-width: 500px;
}

.code-element {
  background-color: #000;
  padding: 4px;
  font-family: "Courier New", Courier, monospace;
  color: #aaff2a;
}

@keyframes appearance {
  0% {
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes disappearance {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    opacity: 0;
  }
}

@keyframes chunk_appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For smartphones */
@media only screen and (max-width: 420px) {
  .header {
    font-size: 16px;
  }

  .message {
    font-size: 14px;
  }

  .send-message-input {
    font-size: 16px;
  }

  .small-message {
    font-size: 12px;
  }
}

/* For medium screen */
@media only screen and (min-width: 421px) {
  .header {
    font-size: 18px;
  }

  .message {
    font-size: 16px;
  }

  .send-message-input {
    font-size: 17px;
  }

  .small-message {
    font-size: 14px;
  }
}

/* Maximum */
@media only screen and (min-width: 560px) {
  .header {
    font-size: 20px;
  }

  .message {
    font-size: 17px;
  }

  .send-message-input {
    font-size: 18px;
  }

  .small-message {
    font-size: 15px;
  }
}