<% const chat = JSON.parse(conversation_history) %>

<section class="chat">




        <% chat.forEach(msg => { %>
            <% if(msg.role !== 'system') { %>
                <% if(msg.role === 'assistant') { %>

                    <div class="gpt-message message">

                        <div class="section-gpt-profile-picture section-profile-picture">
                            <!-- <img alt="gpt-profile-picture" class="gpt-profile-picture"/> -->
                            <div class="gpt-profile-picture profile-picture">GPT</div>
                        </div>

                        <div class="section-gpt-message-text section-message-text">
                            <%= msg.content %>
                        </div>
                
                    </div>

                <% } else if(msg.role === 'user') { %>

                    <div class="user-message message">

                        <div class="section-user-profile-picture section-profile-picture">
                            <!-- <img alt="user-profile-picture" class="user-profile-picture"/> -->
                            <div class="user-profile-picture profile-picture">User</div>
                        </div>

                        <div class="section-user-message-text section-message-text">
                            <%= msg.content %>
                        </div>
                    
                    </div>
                    
                <% } %>
            <% } %>
        <% }) %>

</section>